.highlights{
    display: flex;
    justify-content: space-between;
}
.highlights--data{
    display: flex;
    align-items: center;
}
.highlights--data_dot{
    background-color: #8BC34A;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20px;
    margin-right: 8px;
}
.highlights--data--main{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    margin-bottom: -2px;
}
.highlights--data--sub{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #A0B0B9;
}